<a href="https://colab.research.google.com/github/Shubham23082000/Shubham-V-M_Scifor/blob/main/Copy_of_BasicsOfPythonipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World")

Hello World

In [ ]:
#VARIABLE - PLACEHOLDER / STORE DATA

message = "Hello World"
print(message)

Hello World

In [ ]:
#by default = string
#DATA TYPES -

# INTEGER = NUMERICAL VALUE = WHOLE NO = 1,2,3....
# FLOAT = DECIMAL = 0.3, 0.5 , 0.8....
# CHARACTER = a,b,c || A,B,C
# STRING = COLLECTION OF CHARACTERS = Python, jupyter
#BOLLEAN = YES OR NO , 0 OR 1

In [ ]:
#CONDITIONAL MAKING STATEMENTS
#IT HELPS US TO MAKE DECISION BASED ON CERTAIN CONDITIONS

#TYPES OF CONDITIONAL STATEMENTS

#1-IF-ELSE
#2- NESTED - IF - STATEMENT
#3 - MATCH CASE STATEMENT

In [ ]:
#IF-ELSE

#IF CONDITION 1 :
      STATEMENT 1
#ELSE :
    STATEMENT 2

In [ ]:
#EXAMPLE - IF-ELSE
i = 5

if (i>15):
  print("20 is less than 15")
else :
  print("stop")

stop

In [ ]:
#NESTED - IF

# IF (CONDITION):
# {
#     IF
#     STATEMENT WILL GET EXECUTED
# }

In [ ]:
#NESTED - IF

# IF (CONDITION):
# {
#     ELIF :
#     STATEMENT WILL GET EXECUTED
      ELIF :
      STATEMENT:
      ELSE :
      STATEMENT :
# }

In [ ]:
value = 30

if value <10 :
  print("value is less than 10")

if value>20:
  print("value ias greater than 20")

value ias greater than 20

In [ ]:
# #FUNCTION = THAT HELPS US TO RE-USE THE SAME PIECE OF CODE AGAIN AND AGAIN WITHOUT EXPLICITLY DEFINITING WHENEVER WE NEED
# WE CALL THE FUNCTION WHENVER WE NEED IT INSTEAD OF MAKING IT SECOND TIME

#ADD

#SUBTRACTION

#MULTIPLICATION

#DIVISION

#ADD - CODE AGAIN? (WITHOUT FUNCTION, AGAIN - MARK)

#ADD - CODE AGAIN? (FUNCTON, ONLY BY THE NAME YOU CAN CALL FUNCTION)

#DIVISON - CALL MY FUNCTION OF DIVISON


#HOW TO INITILAIZE/ MAKE FUNCTION ?

# def functioname

In [ ]:
# def apporv:
#   .......
#   .......
#   logic
#   .......
#   ......

# call apporv

In [ ]:
def add(a,b,c):
  return a+b+c

result = add (5,3,2)
print(result)

10

In [ ]:
#SWITCH CASE

def number(a):
  match a :
    case 0 :
      return "zero"
    case 1:
      return "one"
    case 2:
      return "two"
    case default :
      return "defaultstatement"

head = number(5)
print(head)

defaultstatement

In [ ]:
# IF-ELIF-ELSE

IF
{
# IF CONDITION 1 :
#     PRINT(STATEMENT)
# ELIF :
#     PRINT
# ELIF :
#     PRINT()
# ELSE :
#   PRINT()
}

In [ ]:
#HOMEWORK

# 3 QUESTIONS OF CONDITIONAL STATEMENTS
# 3 QUESTIONS OF FUNCTIONS

In [ ]:
#LOOPS IN PYTHON

#THREE CATEGORIES :

#FOR LOOP
#DO WHILE LOOP
#WHILE LOOP

In [ ]:
#FOR LOOP # known - sequence by the help of range functions

# range(1,11) (X,Y) -> X= INCLUSIVE, Y=>EXCLUSIVE
# 1
# 2
# 3
# 4
# 5
# 6
# 7
# 8
# 9
# 10

# range(0,12,2)

# 0
# 2
# 4
# 6
# 8
# 10

for i in range(0,10,2):
  print(i)

0
2
4
6
8

In [ ]:
l=["python", "machine learning", "AI"]

for i in l :
  print(i)

python
machine learning
AI

In [ ]:
#DIFFERENCE BETWEEN WHILE LOOP AND DO WHILE LOOP

#WHILE LOOP = IT EXECUTE AS LONG AS THE CONDITION IS TRUE / THE NO OF EXECUTION OF INTERATION IS NOT KNOWN TO US BEFOREHEAD
i=1
while i<=5:
  print(i)
  i+=1

1
2
3
4
5

In [ ]:
#DO WHILE LOOP - EXECUTE ATLEAST ONCE BEFORE CHECKING

int i = 10
do
{
    while
    print
    i++
    while
}

In [ ]:
#DO WHILE LOOP

i = 1

while True :
  print(i)
  i=i+1
  if(i>5):
    break

1
2
3
4
5

In [ ]:
while True :
  user
  num1 = int(user_input)

if

Data Types

In [ ]:
 Integer = (1, 2, 3)

Float = (0.1, 0.2)

Character = 'a', 'p', 'c'

String = 'python', 'news'

Boolean=True or False, 0 or 1

CONDITIONAL STATEMENTS

If else

In [ ]:
i=20
if i>10:
    print("i is greater than 10")
else:
    print("i is less than 10")

i is greater than 10

Nested if

In [ ]:
value=100
if value>10:
    if value<100:
        print("value is greater than 10 and less than 100")
if value==100:
        print("value is equal to 100")

value is equal to 100

Switch case

In [ ]:
def number(a):
  match a:
    case 1:
      print("one")
    case 2:
      print("two")
    case 3:
      print("three")
    case _:
      print("invalid")
number(3)

three

FUNCTIONS


Helps to reuse the same piece of code again and again Used in oops,class,objects.

In [ ]:

def greet():
    print("Hello")
    print("Welcome")
greet()
greet()

Hello
Welcome
Hello
Welcome

In [ ]:
def function(a,b):
  avearge=(a+b)/2
  print(avearge)
function(10,20)

15.0

31-05-2024

LOOPS

for loop

do while

while loop

For loop

In [ ]:
#for loop
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(1,10,2):
  print(i)

1
3
5
7
9

In [ ]:
l=['python','ML','AI']
for i in l:
  print(i)

python
ML
AI

While loop

In [ ]:
i=1
while i<=10:
  print(i)
  i=i+1

1
2
3
4
5
6
7
8
9
10

it excecutes as long as the condition is true

no. of iteration is not known to us

Do while loop

In [ ]:
i=1
while True:
  print(i)
  i=i+1
  if i>5:
    break

1
2
3
4
5

loop body executes atleast once before checking the condition

In [ ]:
while True:
  user_input=input("enter a number")
  if user_input.isdigit():
    number=int(user_input)
    if number>0:
     break
  else:
    print("invalid input")

enter a number11

Typecast- one data type to another

In [ ]:
y='10'
print(type(y))
x=int(y)
print(type(x))

<class 'str'>
<class 'int'>

In [ ]:
y='25a'
y.isdigit()

False

In [ ]:
y=30
y=str(y)
print(type(y))

<class 'str'>

In [ ]:
y=str(30)
print(type(y) )
y.isdigit()

<class 'str'>

True